# Android / Signing
*.jks
*.keystore
*.aab
*.apk
*.pem
android/
App\ password.txt

# Temporary / Build
temp_aab/
temp_zip/
Crea\ Cuentos\ 2.0.zip
temp_aab.zip
clean_aab.py

# Env / Misc
_redirects
.DS_Store
Thumbs.db
